pipeline/pl_GOLD_RDI.json
{
	"name": "pl_GOLD_RDI",
	"properties": {
		"activities": [
			{
				"name": "GetPaths",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "ds_main_TXTFile",
						"type": "DatasetReference",
						"parameters": {
							"Container": {
								"value": "@pipeline().parameters.path_container",
								"type": "Expression"
							},
							"FilePath": {
								"value": "@pipeline().parameters.path_s_transaction_config",
								"type": "Expression"
							},
							"File": "trsancation_paths.txt"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "GetPaths",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GetPaths').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "ds_GOLD_RDI",
							"type": "ExecuteDataFlow",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataflow": {
									"referenceName": "ds_GOLD_RDI",
									"type": "DataFlowReference",
									"datasetParameters": {
										"InputTransactions": {
											"Container": {
												"value": "@pipeline().parameters.path_container",
												"type": "Expression"
											},
											"FilePath": {
												"value": "@item().fullPath",
												"type": "Expression"
											}
										}
									}
								},
								"integrationRuntime": {
									"referenceName": "NewIntegrationRuntime",
									"type": "IntegrationRuntimeReference"
								},
								"traceLevel": "Fine"
							}
						}
					]
				}
			}
		],
		"parameters": {
			"path_container": {
				"type": "String",
				"defaultValue": "vendor"
			},
			"path_s_location_input": {
				"type": "String",
				"defaultValue": "silver/location_data/input"
			},
			"path_s_location_errors": {
				"type": "String",
				"defaultValue": "silver/location_data/errors"
			},
			"path_s_location_processed": {
				"type": "String",
				"defaultValue": "silver/location_data/processed"
			},
			"path_s_profile_input": {
				"type": "String",
				"defaultValue": "silver/profile_data/input"
			},
			"path_s_profile_errors": {
				"type": "String",
				"defaultValue": "silver/profile_data/errors"
			},
			"path_s_profile_processed": {
				"type": "String",
				"defaultValue": "silver/profile_data/processed"
			},
			"path_s_product_input": {
				"type": "String",
				"defaultValue": "silver/product_data/input"
			},
			"path_s_product_errors": {
				"type": "String",
				"defaultValue": "silver/product_data/errors"
			},
			"path_s_product_processed": {
				"type": "String",
				"defaultValue": "silver/product_data/processed"
			},
			"path_s_transaction_input": {
				"type": "String",
				"defaultValue": "silver/transaction_data/input"
			},
			"path_s_transaction_errors": {
				"type": "String",
				"defaultValue": "silver/transaction_data/errors"
			},
			"path_s_transaction_processed": {
				"type": "String",
				"defaultValue": "silver/transaction_data/processed"
			},
			"path_g_rdi_input": {
				"type": "string",
				"defaultValue": "gold/rdi/input"
			},
			"path_g_rdi_output": {
				"type": "string",
				"defaultValue": "gold/rdi/output"
			},
			"path_s_transaction_config": {
				"type": "string",
				"defaultValue": "silver/transaction_data/config"
			}
		},
		"variables": {
			"TEST": {
				"type": "String"
			}
		},
		"folder": {
			"name": "pl_PROFI/pl_RDI"
		},
		"annotations": []
	}
}