pipeline/pl_MAIN.json
{
	"name": "pl_MAIN",
	"properties": {
		"activities": [
			{
				"name": "CheckForFiles",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_main_BinaryPath",
						"type": "DatasetReference",
						"parameters": {
							"Container": {
								"value": "@variables('path_container')",
								"type": "Expression"
							},
							"FilePath": {
								"value": "@variables('path_lz_input')",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "BinaryReadSettings"
					}
				}
			},
			{
				"name": "LzInputFiles",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "CheckForFiles",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('CheckForFiles').output.childItems",
						"type": "Expression"
					},
					"isSequential": false,
					"activities": [
						{
							"name": "pl_LTB",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "pl_LTB",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"path_container": {
										"value": "@variables('path_container')",
										"type": "Expression"
									},
									"path_lz_input": {
										"value": "@variables('path_lz_input')",
										"type": "Expression"
									},
									"path_lz_errors": {
										"value": "@variables('path_lz_errors')",
										"type": "Expression"
									},
									"path_lz_processed": {
										"value": "@variables('path_lz_processed')",
										"type": "Expression"
									},
									"path_b_input": {
										"value": "@variables('path_b_input')",
										"type": "Expression"
									},
									"path_b_errors": {
										"value": "@variables('path_b_errors')",
										"type": "Expression"
									},
									"path_b_processed": {
										"value": "@variables('path_b_processed')",
										"type": "Expression"
									},
									"file_to_process": {
										"value": "@item().name",
										"type": "Expression"
									}
								}
							}
						},
						{
							"name": "pl_BTS",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "pl_LTB",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "pl_BTS",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"path_container": {
										"value": "@variables('path_container')",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			}
		],
		"variables": {
			"path_container": {
				"type": "String",
				"defaultValue": "vendor"
			},
			"path_lz_input": {
				"type": "String",
				"defaultValue": "landing_zone/input"
			},
			"path_lz_errors": {
				"type": "String",
				"defaultValue": "landing_zone/errors"
			},
			"path_lz_processed": {
				"type": "String",
				"defaultValue": "landing_zone/processed"
			},
			"path_b_input": {
				"type": "String",
				"defaultValue": "bronze/input"
			},
			"path_b_errors": {
				"type": "String",
				"defaultValue": "bronze/errors"
			},
			"path_b_processed": {
				"type": "String",
				"defaultValue": "bronze/processed"
			},
			"path_s_location_input": {
				"type": "String",
				"defaultValue": "silver/location_data/input"
			},
			"path_s_location_errors": {
				"type": "String",
				"defaultValue": "silver/location_data/errors"
			},
			"path_s_location_processed": {
				"type": "String",
				"defaultValue": "silver/location_data/processed"
			},
			"path_s_profile_input": {
				"type": "String",
				"defaultValue": "silver/profile_data/input"
			},
			"path_s_profile_errors": {
				"type": "String",
				"defaultValue": "silver/profile_data/errors"
			},
			"path_s_profile_processed": {
				"type": "String",
				"defaultValue": "silver/profile_data/processed"
			},
			"path_s_product_input": {
				"type": "String",
				"defaultValue": "silver/product_data/input"
			},
			"path_s_product_errors": {
				"type": "String",
				"defaultValue": "silver/product_data/errors"
			},
			"path_s_product_processed": {
				"type": "String",
				"defaultValue": "silver/product_data/processed"
			},
			"path_s_transaction_input": {
				"type": "String",
				"defaultValue": "silver/transaction_data/input"
			},
			"path_s_transaction_errors": {
				"type": "String",
				"defaultValue": "silver/transaction_data/errors"
			},
			"path_s_transaction_processed": {
				"type": "String",
				"defaultValue": "silver/transaction_data/processed"
			}
		},
		"folder": {
			"name": "pl_PROFI"
		},
		"annotations": []
	}
}